@using Sales.Helper;
<!--begin::Primary menu-->
<div id="kt_app_aside_menu" class="menu menu-sub-indention menu-rounded menu-column fw-semibold fs-6 px-2" data-kt-menu="true">
	<!--begin:Menu item-->
	<div class="menu-item">
		<!--begin:Menu link-->
		<a href="/Home" class="@Html.IsSelected(actions: "index", controllers: "home")">
			<span class="menu-icon">
				<i class="ki-outline ki-home-2 fs-2"></i>
			</span>
			<span class="menu-title">الرئيسية</span>
		</a>
		<!--end:Menu link-->
	</div>
	<!--end:Menu item-->
	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="@(Html.IsShow(controllers: "product_category,product_unit,product_title") == "product" ? "menu-item here show menu-accordion" : "menu-item menu-accordion")">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-duotone ki-handcart"></i>
			</span>
			<span class="menu-title">الأصناف</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu item-->
				<div class="menu-item">
					<!--begin:Menu link-->
					<a class="@Html.IsSelected(actions: "index", controllers: "product_category")" asp-controller="Product_Category" asp-action="Index">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">الفئات</span>
					</a>
					<a class="@Html.IsSelected(actions: "index", controllers: "product")" asp-controller="Product" asp-action="Index">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">الأصناف</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<div data-kt-menu-trigger="click" class="@(Html.IsShow(controllers: "customer,supplier") == "customer" ? "menu-item here show menu-accordion" : "menu-item menu-accordion")">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-duotone ki-people">
					<span class="path1"></span>
					<span class="path2"></span>
					<span class="path3"></span>
					<span class="path4"></span>
					<span class="path5"></span>
				</i>
			</span>
			<span class="menu-title">العملاء والموردين</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item - العملاء-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<div class="menu-item">
					<a class="@Html.IsSelected(actions: "index", controllers: "customer")" asp-controller="Customer" asp-action="Index">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">العملاء</span>
					</a>
				</div>
			</div>
			<!--end:Menu item-->
			<!--begin:Menu item - الموردين-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<div class="menu-item">
					<a class="@Html.IsSelected(actions: "index", controllers: "supplier")" asp-controller="Supplier" asp-action="Index">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">الموردين</span>
					</a>
				</div>
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<div data-kt-menu-trigger="click" class="@(Html.IsShow(controllers: "customer,supplier") == "customer" ? "menu-item here show menu-accordion" : "menu-item menu-accordion")">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-duotone ki-people">
					<span class="path1"></span>
					<span class="path2"></span>
					<span class="path3"></span>
					<span class="path4"></span>
					<span class="path5"></span>
				</i>
			</span>
			<span class="menu-title"> المصروفات</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item - بنود المصروفات-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<div class="menu-item">
					<a class="@Html.IsSelected(actions: "index", controllers: "Expense_Item")" asp-controller="Expense_Item" asp-action="Index">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">بنود المصروفات</span>
					</a>
				</div>
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>

	@if (User.IsInRole("إدارة"))
	{
		<!--begin:Menu item-->
		<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
			<!--begin:Menu link-->
			<span class="menu-link">
				<span class="menu-icon">
					<i class="ki-duotone ki-chart-simple-3 fs-2">
						<span class="path1"></span>
						<span class="path2"></span>
						<span class="path3"></span>
						<span class="path4"></span>
					</i>
				</span>
				<span class="menu-title">متابعة الحركات</span>
				<span class="menu-arrow"></span>
			</span>
			<!--end:Menu link-->
			<!--begin:Menu sub-->
			<div class="menu-sub menu-sub-accordion">
				<!--begin:Menu item-->
				<div class="menu-item">
					<a class="menu-link" href="@Url.Action("DailyMovementsTracking", "ManagementDashboard")">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">متابعة المندوبين</span>
					</a>
				</div>
				<!--end:Menu item-->
				<!--begin:Menu item-->
				<div class="menu-item">
					<a class="menu-link" href="@Url.Action("WarehouseMovementsTracking", "ManagementDashboard")">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">متابعة المستودعات</span>
					</a>
				</div>
				<!--end:Menu item-->
			</div>
			<!--end:Menu sub-->
		</div>
		<!--end:Menu item-->
	}

	<!--begin:Menu item-->
	<div data-kt-menu-trigger="click" class="@(Html.IsShow(controllers: "users") == "setting" ? "menu-item here show menu-accordion" : "menu-item menu-accordion")">
		<!--begin:Menu link-->
		<span class="menu-link">
			<span class="menu-icon">
				<i class="ki-duotone ki-setting fs-1">
					<span class="path1"></span>
					<span class="path2"></span>
				</i>
			</span>
			<span class="menu-title">الإعدادات</span>
			<span class="menu-arrow"></span>
		</span>
		<!--end:Menu link-->
		<!--begin:Menu sub-->
		<div class="menu-sub menu-sub-accordion">
			<!--begin:Menu item-->
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<!--begin:Menu item-->
				<div class="menu-item">
					<!--begin:Menu link-->
					<a class="@Html.IsSelected(actions: "index", controllers: "users")" asp-controller="Users" asp-action="Index">
						<span class="menu-bullet">
							<span class="bullet bullet-dot"></span>
						</span>
						<span class="menu-title">المستخدمين</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
			</div>
			<!--end:Menu item-->
		</div>
		<!--end:Menu sub-->
	</div>
	<!--end:Menu item-->
</div>
<!--end::Primary menu-->